.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.generator-container {
  background: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  width: 300px;
  font-family: Arial, sans-serif;
}

.generator-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.generator-input {
  width: 100%;
  background-color: #444;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

.refresh-button {
  display: block;
  background: #444;
  border: none;
  color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.options {
  text-align: left;
}

.option {
  margin: 5px 0;
}

.option input {
  margin-right: 10px;
}

.range-slider {
  width: 100%;
  margin: 20px 0;
}

.copy-button {
  background: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
