.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #333;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%; */
}

.generator-container {
  background: #031602;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.6);
  text-align: center;
  position: relative;
  width: 90%;
  max-width: 450px;
  margin: 5% auto;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  font-family: Arial, sans-serif;
}

.generator-container:hover {
  transform: translateY(-10px); 
  box-shadow: 0 12px 24px rgba(0, 255, 0, 0.8); 
}

.generator-header {
  font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.generator-input, .refresh-button, .copy-button {
  background-color: #222;
  color: #0f0; /* Eléments en vert pour l'harmonie */
  border: 1px solid #0a0; /* Bordure verte subtile */
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.refresh-button, .copy-button {
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Effets interactifs */
}

.refresh-button:hover, .copy-button:hover {
  background-color: #333; 
  transform: scale(1.05); 
}

.refresh-button {
  margin-top: 10px;
  display: block;
  background: #0a0;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size:medium;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.options {
  text-align: left;
}

.option {
  margin: 5px 0;
}

.option input {
  margin-right: 10px;
}

.option input[type="checkbox"] {
  appearance: none;
  background-color: #4CAF50;
  border: 2px solid #c6c6c6;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.option input[type="checkbox"]:checked {
  background-color: #4CAF50;
}

.option input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.range-slider {
  border-radius: 5px;
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #adacac;
  outline: none;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fefefe;
  box-shadow: 0 0 10px #0f0, 0 0 20px #0a0, 0 0 40px #0f0;
  border-radius: 50%;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #0f0;
  cursor: pointer;
}


.copy-button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  width: 20%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}